body {
    height: 100vh;
    background-color: #F3F3F3 !important;
}

.wrapper {
    padding: 20px 0;
}

.auth-attention {
    color: red;
}

.auth-block {
    max-width: 550px;
    margin: auto;
    padding: 120px 0;
}

.errorlist {
    list-style: none !important;
    color: red !important;
    font-size: 0.8rem !important;
    margin: 0 !important;
    padding: 0 !important;
}