{% extends 'mainapp/template.html' %}
{% load static %}
{% block title %}{{ header }}{% endblock %}

{% block content %}
{% include 'mainapp/header.html' %}
<section class="form-page">
    <div class="wrapper">
        <div class="container-fluid">
            <h1 class="mb-3">{{ header }}</h1>
            <form method="post">
                {% csrf_token %}
                {{ form }}
                <button type="submit" class="btn btn-success">{{ submit_button_text }}</button>
                <a href="{{ cancel_button_url }}" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</section>
{% endblock %}