{% extends 'mainapp/template.html' %}
{% load static %}
{% block title %}Services{% endblock %}

{% block content %}
{% include 'mainapp/header.html' %}
<section class="services-page">
    <div class="wrapper">
        <div class="container-fluid">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'mainapp:main_page' %}">Home</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'mainapp:vpn_services_page' %}">VPN Services</a></li>
                    <li class="breadcrumb-item"><a
                            href="{% url 'mainapp:vpn_service_details_page' client.vpn_service.pk %}">{{ client.vpn_service.service_name }}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ client.client_name }}</li>
                </ol>
            </nav>
            <h1 class="mb-3">{{ client.client_name }} details</h1>
            {% if messages %}
            {% for message in messages %}
            <div class="alert {{ message.tags }}" role="alert">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            <a href="{% url 'mainapp:update_vpn_client' client.vpn_service.pk client.pk %}"
                class="btn btn-outline-primary">Update client</a>
            <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                data-bs-target="#Modalclient">Delete client</button>
            <div class="modal fade" id="Modalclient" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Warning!</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to delete
                            <span class="text-primary">{{ client.client_name }}</span> client? All
                            clients devices <strong>will be removed!</strong>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <form action="{% url 'mainapp:delete_vpn_client' client.vpn_service.pk client.pk %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <h2 class="mt-3 mb-3">Client info</h2>
            <table class="table table-sm table-light table-bordered mb-4">
                <thead>
                    <tr>
                        <th scope="col">Client name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Service</th>
                        <th scope="col">Service network</th>
                        <th scope="col">Server</th>
                        <th scope="col">Server IP</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ client.client_name }}</td>
                        <td>{{ client.client_email }}</td>
                        <td>{{ client.vpn_service.service_name }}</td>
                        <td>{{ client.vpn_service.vpn_network }}</td>
                        <td>{{ client.vpn_service.server.hostname }}</td>
                        <td>{{ client.vpn_service.server.public_ip }}</td>
                </tbody>
            </table>
            <h2 class="mb-3">Device list</h2>
            <a href="" class="btn btn-outline-success mb-3">Add new device</a>
            <div class="accordion" id="accordionFlushExample">
                {% for device in devices %}
                <div class="card mb-2">
                    <div class="card-header">
                        {{ device.device_name }}
                    </div>
                    <div class="card-body">
                        <div class="row mb-2">
                            <div class="col">
                                <strong>Device name: </strong>{{ device.device_name }}
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col">
                                <strong>Device type: </strong>{{ device.get_device_type_dispay }}
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col">
                                <strong>IP: </strong>{{ device.private_ip }}
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col">
                                <strong>Publick key: </strong>{{ device.public_key }}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <strong>Private key: </strong>{{ device.private_key }}
                            </div>
                        </div>
                        <a href="" class="btn btn-outline-primary">Update device</a>
                        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                            data-bs-target="#Modal{{ forloop.counter }}">Delete device</button>
                        <div class="modal fade" id="Modal{{ forloop.counter }}" tabindex="-1"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Warning!</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure you want to delete
                                        <span class="text-primary">{{ server.hostname }}</span> deivce?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Cancel</button>
                                        <form action="" method="post">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-danger">Delete</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}