{% extends 'mainapp/template.html' %}
{% load static %}
{% block title %}Services{% endblock %}

{% block content %}
{% include 'mainapp/header.html' %}
<section class="services-page">
    <div class="wrapper">
        <div class="container-fluid">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'mainapp:main_page' %}">Home</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'mainapp:vpn_services_page' %}">VPN Services</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ service.service_name }}</li>
                </ol>
            </nav>
            <h1 class="mb-3">{{ service.service_name }} details</h1>
            {% if messages %}
            {% for message in messages %}
            <div class="alert {{ message.tags }}" role="alert">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            <a href="#" class="btn btn-outline-success mb-3">Import service config</a>
            <h2 class="mb-3">Service info</h2>
            <table class="table table-sm table-light table-bordered mb-4">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Network</th>
                        <th scope="col">Port</th>
                        <th scope="col">IP</th>
                        <th scope="col">Interface</th>
                        <th scope="col">Public key</th>
                        <th scope="col">Private key</th>
                        <th scope="col">Server name</th>
                        <th scope="col">Server ip</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ service.service_name }}</td>
                        <td>{{ service.vpn_network }}</td>
                        <td>{{ service.vpn_port }}</td>
                        <td>{{ service.private_ip }}</td>
                        <td>{{ service.vpn_if_name }}</td>
                        <td>{{ service.public_key }}</td>
                        <td>{{ service.private_key }}</td>
                        <td>{{ service.server.hostname }}</td>
                        <td>{{ service.server.public_ip }}</td>
                </tbody>
            </table>
            <h2 class="mb-3">Clients list</h2>
            <a href="#" class="btn btn-outline-success mb-3">Add new client</a>
            <div class="accordion" id="accordionFlushExample">
                {% for client in clients %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapse{{ forloop.counter }}" aria-expanded="false"
                            aria-controls="flush-collapseOne">
                            {{ client.client_name }}
                        </button>
                    </h2>
                    <div id="flush-collapse{{ forloop.counter }}" class="accordion-collapse collapse"
                        aria-labelledby="flush-headingOne">
                        <div class="accordion-body">
                            <div class="row mb-2">
                                <div class="col">
                                    <strong>Client name: </strong>{{ client.client_name }}
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col">
                                    <strong>Client email: </strong>{{ client.client_email }}
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col">
                                    <strong>VPN service: </strong>{{ client.vpn_service.service_name }}
                                </div>
                            </div>
                            <a href="" class="btn btn-outline-secondary">Details</a>
                            <a href="" class="btn btn-outline-primary">Update client</a>
                            <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                                data-bs-target="#Modal{{ forloop.counter }}">Delete client</button>
                            <div class="modal fade" id="Modal{{ forloop.counter }}" tabindex="-1"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Warning!</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure you want to delete
                                            <span class="text-primary">{{ client.client_name }}</span> client? All
                                            clients devices <strong>will be removed!</strong>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Cancel</button>
                                            <form action="" method="post">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-danger">Delete</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}