{% extends 'mainapp/template.html' %}
{% load static %}
{% block title %}Services{% endblock %}

{% block content %}
{% include 'mainapp/header.html' %}
<section class="services-page">
    <div class="wrapper">
        <div class="container-fluid">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'mainapp:main_page' %}">Home</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'mainapp:vpn_services_page' %}">VPN Services</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ service.service_name }}</li>
                </ol>
            </nav>
            <h1 class="mb-3">{{ service.service_name }} details</h1>
            {% if messages %}
            {% for message in messages %}
            <div class="alert {{ message.tags }}" role="alert">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            <a class="btn btn-outline-dark mb-3" data-bs-toggle="collapse" href="#collapseExample" role="button"
                aria-expanded="false" aria-controls="collapseExample">Show config</a>
            <a href="#" class="btn btn-outline-success mb-3">Import service config</a>
            <a href="{% url 'mainapp:update_vpn_service' service.pk %}" class="btn btn-outline-primary mb-3">Update
                service</a>
            <button type="button" class="btn btn-outline-danger mb-3" data-bs-toggle="modal"
                data-bs-target="#ModalDelete">Delete service</button>
            <div class="modal fade" id="ModalDelete" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Warning!</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to delete
                            <span class="text-primary">{{ service.service_name }}</span> VPN service?
                            All VPN
                            clients and devices on this service <strong>will be removed!</strong>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <form action="{% url 'mainapp:delete_vpn_service' service.pk %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="collapse mb-3" id="collapseExample">
                <div class="card card-body">
                    <p class="text-muted">
                        [Interface]<br>

                        Address = {{ service_addr }}<br>

                        PostUp = iptables -A FORWARD -i %i -j ACCEPT; iptables -t nat -A POSTROUTING -o {{ service.server.if_name }} -j MASQUERADE<br>

                        PostDown = iptables -D FORWARD -i %i -j ACCEPT; iptables -t nat -D POSTROUTING -o {{ service.server.if_name }} -j MASQUERADE<br>

                        ListenPort = {{ service.vpn_port }}<br>

                        PrivateKey = {{ service.private_key }}
                    </p>
                    {% for device in devices %}
                    <p class="text-muted">
                        [Peer]<br>

                        #PeerInfo = DeviceName: {{ device.device_name }}; DeviceType: {{ device.get_device_type_display }}; Client: {{ device.client.client_name }}<br>

                        PublicKey = {{ device.public_key }}<br>

                        AllowedIPs = {{ device.private_ip }}/32
                    </p>
                    {% endfor %}
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-outline-secondary conf-copy">Copy</button>
                        <a href="" class="btn btn-outline-secondary conf-download">Download config</a>
                    </div>
                </div>
            </div>
            <h2 class="mb-3">Service info</h2>
            <table class="table table-sm table-light table-bordered mb-4">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Network</th>
                        <th scope="col">Port</th>
                        <th scope="col">IP</th>
                        <th scope="col">Interface</th>
                        <th scope="col">Public key</th>
                        <th scope="col">Private key</th>
                        <th scope="col">Server name</th>
                        <th scope="col">Server ip</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ service.service_name }}</td>
                        <td>{{ service.vpn_network }}</td>
                        <td>{{ service.vpn_port }}</td>
                        <td>{{ service.private_ip }}</td>
                        <td>{{ service.vpn_if_name }}</td>
                        <td>{{ service.public_key }}</td>
                        <td>{{ service.private_key }}</td>
                        <td>{{ service.server.hostname }}</td>
                        <td>{{ service.server.public_ip }}</td>
                </tbody>
            </table>
            <h2 class="mb-3">Clients list</h2>
            <a href="{% url 'mainapp:create_vpn_client' service.pk %}" class="btn btn-outline-success mb-3">Add new
                client
            </a>
            <div class="accordion mb-3" id="accordionFlushExample">
                {% for client in clients %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapse{{ forloop.counter }}" aria-expanded="false"
                            aria-controls="flush-collapseOne">
                            {{ client.client_name }}
                        </button>
                    </h2>
                    <div id="flush-collapse{{ forloop.counter }}" class="accordion-collapse collapse"
                        aria-labelledby="flush-headingOne">
                        <div class="accordion-body">
                            <div class="row mb-2">
                                <div class="col">
                                    <strong>Client name: </strong>{{ client.client_name }}
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col">
                                    <strong>Client email: </strong>{{ client.client_email }}
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col">
                                    <strong>VPN service: </strong>{{ client.vpn_service.service_name }}
                                </div>
                            </div>
                            <a href="{% url 'mainapp:vpn_client_details_page' service.pk client.pk %}"
                                class="btn btn-outline-secondary">Details</a>
                            <a href="{% url 'mainapp:update_vpn_client' service.pk client.pk %}"
                                class="btn btn-outline-primary">Update client</a>
                            <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                                data-bs-target="#Modal{{ forloop.counter }}">Delete client</button>
                            <div class="modal fade" id="Modal{{ forloop.counter }}" tabindex="-1"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Warning!</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure you want to delete
                                            <span class="text-primary">{{ client.client_name }}</span> client? All
                                            clients devices <strong>will be removed!</strong>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Cancel</button>
                                            <form action="{% url 'mainapp:delete_vpn_client' service.pk client.pk %}"
                                                method="post">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-danger">Delete</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <h2 class="mb-3">Device list</h2>
            <div class="accordion" id="accordionFlushExample">
                {% for device in devices %}
                <div class="card mb-2">
                    <div class="card-header">
                        {{ device.device_name }}
                    </div>
                    <div class="card-body">
                        <div class="row mb-2">
                            <div class="col">
                                <strong>Device name: </strong>{{ device.device_name }}
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col">
                                <strong>Device type: </strong>{{ device.get_device_type_display }}
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col">
                                <strong>Client: </strong><a
                                    href="{% url 'mainapp:vpn_client_details_page' service.pk device.client.pk %}"
                                    class="link-primary">
                                    {{ device.client.client_name }}
                                </a>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col">
                                <strong>IP: </strong>{{ device.private_ip }}
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col">
                                <strong>Publick key: </strong>{{ device.public_key }}
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col">
                                <strong>Private key: </strong>{{ device.private_key }}
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col">
                                <strong>DNS IP: </strong>{{ device.dns }}
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col">
                                <strong>Allowed ips: </strong>{{ device.allowed_ips }}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <strong>Persistent keepalive: </strong>{{ device.ka_check }}
                            </div>
                        </div>
                        <a class="btn btn-outline-dark" data-bs-toggle="collapse"
                            href="#collapseExample{{ forloop.counter }}" role="button" aria-expanded="false"
                            aria-controls="collapseExample{{ forloop.counter }}">Show config</a>
                        <a href="{% url 'mainapp:update_vpn_device' service.pk device.client.pk device.pk %}"
                            class="btn btn-outline-primary">Update device</a>
                        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                            data-bs-target="#ModalDevice{{ forloop.counter }}">Delete device</button>
                        <div class="mt-3 collapse" id="collapseExample{{ forloop.counter }}">
                            <div class="card bg-light card-body">
                                <p class="text-muted">
                                    [Interface]<br>
                                    PrivateKey = {{ device.private_key }}<br>
                                    Address = {{ device.private_ip }}/32<br>
                                    DNS = {{ device.dns }}
                                </p>
                                <p class="text-muted">
                                    [Peer]<br>
                                    PublicKey = {{ device.client.vpn_service.public_key }}<br>
                                    Endpoint = {{ device.client.vpn_service.server.public_ip }}:{{ device.client.vpn_service.vpn_port }}<br>
                                    AllowedIPs = {{ device.allowed_ips }}<br>
                                    PersistentKeepalive = {{ device.ka_check }}
                                </p>
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <button type="button" class="btn btn-outline-secondary conf-copy">Copy</button>
                                    <a href="" class="btn btn-outline-secondary conf-download">Download config</a>
                                    <button type="" class="btn btn-outline-secondary conf-qr">Generate QR-code</button>
                                </div>
                                <div class="qr-code-block d-none mt-3">
                                    <a href="">
                                        <canvas id="qr"></canvas>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="ModalDevice{{ forloop.counter }}" tabindex="-1"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Warning!</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure you want to delete
                                        <span class="text-primary">{{ device.device_name }}</span> deivce?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Cancel</button>
                                        <form
                                            action="{% url 'mainapp:delete_vpn_device' service.pk device.client.pk device.pk %}"
                                            method="post">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-danger">Delete</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/qrious/4.0.2/qrious.min.js"></script>
<script src="{% static 'mainapp/js/wg_config_script.js' %}"></script>
{% endblock %}