{% extends 'mainapp/template.html' %}
{% load static %}
{% block title %}Servers{% endblock %}

{% block content %}
{% include 'mainapp/header.html' %}
<section class="servers-page">
    <div class="wrapper">
        <div class="container-fluid">
            <h1 class="mb-3">VPN Servers</h1>
            {% if messages %}
            {% for message in messages %}
            <div class="alert {{ message.tags }}" role="alert">
                {{ message }}
              </div>
            {% endfor %}
            {% endif %}
            <a href="{% url 'mainapp:create_vpn_server' %}" class="btn btn-outline-success mb-3">Add new server</a>
            <div class="accordion" id="accordionExample">
                {% for server in servers %}
                <div class="card mb-2">
                    <div class="card-header">
                        {{ server.hostname }}
                    </div>
                    <div class="card-body">
                        <div class="row mb-2">
                            <div class="col">
                                <strong>Hostname: </strong>{{ server.hostname }}
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col">
                                <strong>IP: </strong>{{ server.public_ip }}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <strong>Interface: </strong>{{ server.if_name }}
                            </div>
                        </div>
                        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                            data-bs-target="#Modal{{ forloop.counter }}">Delete server</button>
                        <div class="modal fade" id="Modal{{ forloop.counter }}" tabindex="-1"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Warning!</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure you want to delete
                                        <span class="text-primary">{{ server.hostname }}</span> server? All VPN
                                        services, clients and devices on this server <strong>will be removed!</strong>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Cancel</button>
                                        <form action="{% url 'mainapp:delete_vpn_server' server.pk %}" method="post">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-danger">Delete</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}